<ul class="thumbnails">
  <% @books.each do |book| %>
    <li class="span4">
      <img data-src="holder.js/150x200" alt="">
      <h3><%= link_to book.title, book_path(book) %></h3>
      <p><%= book.author %></p>
    </li>
<% end %>
</ul>
